body {
    font-family: "Times New Roman", Times, serif;
}

.col-md-10 {
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
    border-style: solid;
    border-width: 3px;
    border-color: #232b2b;
}

#nameofgame {
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #cb6f34;
    padding-top: 20px;
    padding-bottom: 20px;
}

#instructions {
    background-color: #fce5cf;
    color: green;
    padding: 20px 5px 50px 5px;
    font-size: 18px;
    margin-bottom: 10px;
}

#generated {
    background-color: #53c987;
    padding: 5px 200px 80px 5px;
    color: black;
}

#scorecard {
 background-color: #3afefd;
 color: green;
 text-align: center;
 padding-top: 45px;
 padding-bottom: 5px;
 margin-bottom: 10px; 
}

#losewin {
    padding: opx;
    margin: 0px;
}

#totaltext {
    background-color: #1fa397;
    color: white;
    padding: 3px;
}

#totalscore {
    background-color: #1fa397;
    color: white;
    padding: 5px 200px 80px 5px;
}

#buttons {
    margin-bottom: 10px;
}